@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500&display=swap');
@font-face {
    font-family: 'zephyr';
    src:url(../font/zephyr-webfont.woff) format('woff'),
        url(../font/zephyr-webfont.ttf) format('truetype'),
        url(../font/zephyr-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
};
@font-face {
    font-family: 'culture';
    src:url(../font/culture-webfont.woff) format('woff'),
        url(../font/culture-webfont.ttf) format('truetype'),
        url(../font/culture-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
};

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* layout */
body {font-family: 'Fahkwang', sans-serif;}
.wrap {width: 100%; margin: 0 auto; overflow: hidden; background: #fff;}/* bg를 적용해줘야 새로고침 시 배경 깜빡임 없음 */
.has-scroll-smooth [data-scroll-container] {overflow-x: hidden;}/* 넘쳐나는 현상 해결 */
[data-scroll-container] {perspective: 1px;}/* 깜빡이는 현상 해결 */

/* header */
header {width: 100%; height: 120px; position: fixed; z-index: 1000; color: #fff; mix-blend-mode: difference;}
.innerHeader {width: 100%; height: 100%; padding: 40px 34px 0; box-sizing: border-box; overflow: hidden;}
.innerHeader .name {float: left; font-size: 40px; font-family: 'Cormorant Infant', serif; line-height: 0.9;}
.innerHeader nav {float: right; font-size: 16px;}
.innerHeader nav .menu span:nth-of-type(2) {display: none;}
.innerHeader nav .menu {width: 90px; height: 40px; border: 1px solid #fff; border-radius: 50px; cursor: pointer; line-height: 40px; text-align: center; position: relative; transition: transform 0.5s; overflow: hidden;}
.innerHeader nav .menu:before {content: attr(data-after); display: inline-block; transform: translateY(100%); position: absolute; left: 20px; top: 0; transition: inherit;}
.innerHeader nav .menu .hide {display: inline-block; transform: translateY(0%); transition: inherit;}
.innerHeader nav .menu:hover:before {transform: translateY(0%);}
.innerHeader nav .menu:hover .hide {transform: translateY(-100%);}

/* menuOpen */
.menuOpen {width: 100%; height: 100vh; background: #f2f2f2; position: fixed; z-index: 1000; display: none;}
.menuOpen .close {position: absolute; top: 47px; right: 66px;}
.menuOpen::before {content: ''; position: absolute; width: 755px; height: 755px; background: #fff; top: 50%; left: 50%; transform: translate(-50%,-50%); border-radius: 50%;}
.menuOpen ul {text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.menuOpen ul li {font-size: 110px; font-family: 'zephyr'; margin-bottom: 40px; transition: all 1s;}
.menuOpen ul li:nth-child(4) {margin-bottom: 0;}
.menuOpen ul li a {display: block; width: 100%; height: 100%; transition: all 0.3s;}
.menuOpen ul li a:hover,.menuOpen ul li a:focus {transform: rotate(-10deg); transition: all 0.3s;}

/* menuOpen.on */
.menuOpen.on {display: block;}
.menuOpen.on::before {animation-name: circle; animation-duration: 0.5s; animation-timing-function: ease-in-out;}
.menuOpen.on ul li:nth-child(1) {animation-name: list; animation-duration: 0.5s;}
.menuOpen.on ul li:nth-child(2) {animation-name: list; animation-duration: 0.8s;}
.menuOpen.on ul li:nth-child(3) {animation-name: list; animation-duration: 1.1s;}
.menuOpen.on ul li:nth-child(4) {animation-name: list; animation-duration: 1.4s;}

@keyframes circle {
    0% {opacity: 0;}
    40% {opacity: 0;}
}

@keyframes list {
    0% {opacity: 0; transform: translateY(30px);}
    40% {opacity: 0; transform: translateY(30px);}
}

/* mouse-cursor */
#mouse-cursor {
    position: absolute;
    top:0;
    left: 0;
    will-change: transform;
    transform: translate3d(-100%, -100%, 0);/* 처음 화면로드시 안보이게 하기 위해서 */
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 1000;
}

#mouse-cursor > div {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #fff;
    font-size: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    --cursor-scale: 1;
    transform: scale3d(var(--cursor-scale), var(--cursor-scale), 1);
    will-change: transform;
    transition: transform 150ms ease-in-out, background-color 150ms ease-in-out;
}

#mouse-cursor > div::after {
    content: attr(data-name);
    position: absolute;
    color: #000;
    transform: scale(0.35);
    white-space: nowrap;
}

.cursor-text-mode {
    mix-blend-mode: initial !important;
}

.cursor-text-mode>div {
    background-color: #fff !important;
}

/* section.visual */
.visual {width: 100%; height: 100vh; position: relative;}
.visual .inner {width: 100%; padding-left: 9%; position: absolute; top: 50%; transform: translateY(-50%); margin-top: 60px;}
.visual .inner .titBox {font-family: 'zephyr'; font-size: 16vw; width: 100%;}
.visual .inner .titBox .top {line-height: 1; font-weight: inherit; perspective: 500px; transform-origin: 50% 50%;}
.visual .inner .titBox .top span.size {font-size: 10vw; display: inline-block; transform-style: preserve-3d;}
.visual .inner .titBox .bottom {text-align: right; line-height: 1; font-weight: inherit; perspective: 500px; transform-origin: 50% 50%; margin-right: 13%;}
.visual .inner .titBox span {display: inline-block; transform-style: preserve-3d;}
@keyframes spin {
    0% {transform: rotateX(-90deg) translateY(150px); opacity: 0;}
    30% {opacity: 0;}
    100% {transform: rotateX(0deg) translateY(0px); opacity: 1;}
}
.visual .inner .titBox span {animation: spin; animation-duration: 0.9s; animation-timing-function: ease-in-out;}

/* section.coding */
.coding {width: 100%;}
.coding .inner {width: 100%; position: relative; padding-top: 500px;}
.coding .inner .line {position: absolute; top: 50px; left: 0; width: 100%; z-index: -1;}
.coding .inner .textWrap {width: 100%; text-align: center; padding-bottom: 200px;}
.coding .inner .textWrap .textBox {margin-bottom: 80px; width: 100%;}
.coding .inner .textWrap .textBox .hoverEffect {position: relative;}
.coding .inner .textWrap .textBox .tit {color: #fff; font-family: 'zephyr'; font-size: 85px; font-weight: inherit;}
.coding .inner .textWrap .textBox .tit a {display: block; width: 100%; height: 100%; position: relative;}
.coding .inner .textWrap .textBox .hoverImg {position: absolute; width: 492px; height: 328px; top: 50%; left: 50%; transform: translate(-50%,-50%); overflow: hidden; opacity: 0; transition: all 0.5s ease-out; pointer-events: none; transform: scale(0.8); z-index: -1;}
.coding .inner .textWrap .textBox .hoverImg img {width: 100%; height: 100%; object-fit: cover;}
.coding .inner .textWrap .textBox .txt {font-size: 18px; color: #aaaaaa;}

.coding .inner .tablet {display: none; width: 80%; margin: 0 auto;}
.coding .inner .tablet .innerBox {display: flex; justify-content: space-between; width: 100%;}
.coding .inner .tablet .list {width: 42%;}
.coding .inner .tablet .list li {width: 100%; margin-bottom: 115px;}
.coding .inner .tablet .list li br {display: none;}
.coding .inner .tablet .list li .tit {color: #fff; font-size: 35px; font-family: 'zephyr'; margin-top: 20px;}
.coding .inner .tablet .list li .txt {color: #aaaaaa; font-size: 14px;}
.coding .inner .tablet .list li img {width: 100%;}
.coding .inner .tablet .list.first {margin-top: -150px;}

/* locomotive animation */
.coding .inner .textWrap li {opacity: 0;}
.coding .inner .textWrap li.opacity {opacity: 1; transition: opacity 1.5s;}

/* section.ncs */
.ncs {width: 100%;}
.ncs .inner {width: 1400px; margin: 0 auto 400px; padding-top: 350px; position: relative;}
.ncs .inner .list {width: 40%;}
.ncs .inner .list li {margin-bottom: 50px; width: 100%;}
.ncs .inner .list li a {display: block; width: 100%; height: 100%; position: relative;}
.ncs .inner .list li a:hover:before {content: ''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: rgba(41,41,41, 0.3);}
.ncs .inner .list li a:hover:after{content: 'VIEW'; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); color: #fff; font-size: 16px; border: 1px solid #fff; border-radius: 50px; width: 90px; height: 40px; line-height: 40px; text-align: center;}
.ncs .inner .list li img {width: 100%;}
.ncs .inner .textBox {color: #fff; padding-top: 350px; width: 40%; position: absolute; top: 0; right: 0;}
.ncs .inner .textBox .textWrap {opacity: 0;}
.ncs .inner .textBox .tit {font-family: 'zephyr'; font-size: 85px; font-weight: inherit; margin-bottom: 10px;}
.ncs .inner .textBox .txt {line-height: 2;}
.ncs .inner .textBox .tit span {font-size: 60px;}

/* locomotive animation */
.ncs .inner .textBox .textWrap.opacity {opacity: 1; transition: opacity 1.5s;}

/* section.contact */
.contact {width: 100%;}
.contact .inner {width: 100%; padding: 230px 0 50px 0; position: relative; color: #fff;}
.contact .inner .star {position: absolute; top: 180px; right: 6%;}
.contact .inner .line {position: absolute; width: 100%; top: -38%;}
.contact .inner .textWrap {width: 100%; overflow: hidden;}
.contact .txtBox {width: 80%; margin-bottom: 100px; position: relative; float: right; padding-right: 80px;}
.contact .txtBox .txt {font-size: 20px;}
.contact .txtBox .titBox {width: 100%; position: relative;}
.contact .txtBox .titBox .tit {font-family: 'zephyr'; font-size: 16.67vw; font-weight: inherit; margin-top: 70px; perspective: 500px; transform-origin: 50% 50%; text-align: right;}
.contact .txtBox .titBox .tit span {display: inline-block; transform-style: preserve-3d;}
.contact .info {margin-left: 75px; overflow: hidden;}
.contact .info .phone {overflow: hidden; margin-bottom: 15px;}
.contact .info .phone .img {float: left; width: 30px;}
.contact .info .phone .img img {width: 100%;}
.contact .info .phone .phoneNumber {float: left; font-size: 18px; line-height: 30px; margin-left: 12px;}
.contact .info .mail {overflow: hidden;}
.contact .info .mail .img {float: left; width: 30px;}
.contact .info .mail .img img {width: 100%;}
.contact .info .mail .mailAddress {float: left; font-size: 20px; line-height: 30px; margin-left: 12px;}

/* locomotive animation */
.contact .txtBox .titBox .tit span.ani {animation: spin; animation-duration: 0.9s; animation-timing-function: ease-in-out;}

/* responsive */
@media screen and (max-width:1600px) {
    .ncs .inner {width: 80%;}
    .ncs .inner .textBox {width: 43%;}

    .contact .info {margin-left: 50px;}
    .contact .inner .line {top: -33%;}
}

@media screen and (max-width:1420px) {
    .coding .inner {padding-top: 450px;}
    .coding .inner .textWrap {padding-bottom: 100px;}
    .coding .inner .textWrap .textBox .tit {font-size: 80px;}

    .ncs .inner .textBox .txt br {display: none;}

    .contact .inner .line {top: -28%;}
}

@media screen and (max-width:1280px) {
    .innerHeader .name {font-size: 32px;}

    .coding .inner {padding-top: 420px;}
    .coding .inner .textWrap .textBox .tit {font-size: 75px;}

    .ncs .inner .textBox .tit {font-size: 70px;}
    .ncs .inner .textBox .tit span {font-size: 45px;}
    .ncs .inner .textBox .txt {line-height: 1.6;}

    .contact .txtBox .txt {font-size: 18px;}
    .contact .inner {padding-bottom: 30px;}
    .contact .info {margin-left: 30px;}
    .contact .inner .line {top: -20%;}
    .contact .inner .star {top: 175px;}
}

@media screen and (max-width:1080px) {
    .innerHeader {padding: 30px 25px 0;}
    .innerHeader nav .menu {border: none; width: auto; height: auto;}
    .innerHeader nav .menu .hide {display: none;}
    .innerHeader nav .menu span:nth-of-type(2) {display: block; font-size: 45px; color: #fff; text-align: right;}
    .innerHeader nav .menu:before {display: none;}
    .menuOpen .close {top: 39px; right: 33px;}

    .visual .inner {margin-top: 40px; width: 97%; padding-left: 11%;}
    .visual .inner .titBox .bottom {margin-right: 14%;}
    
    .coding .inner {padding-top: 300px;}
    .coding .inner .textWrap {display: none;}
    .coding .inner .tablet {display: block;}

    .ncs .inner {padding-top: 50px; margin-bottom: 300px;}
    .ncs .inner .textBox {position: static; padding-top: 0; width: 100%; margin-bottom: 80px; }
    .ncs .inner .list {width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;}
    .ncs .inner .list li {width: 45%;}
    .ncs .inner .textBox .txt br {display: block;}
    .ncs .inner .list li a:hover:after{font-size: 14px; width: 80px; height: 35px; line-height: 35px;}
    .ncs .inner .textBox .tit {margin-bottom: 0;}

    .contact .inner .line {top: -12%;}
    .contact .info .phone .phoneNumber {font-size: 16px;}
    .contact .info .mail .mailAddress {font-size: 18px;}
}

@media screen and (max-width:1024px) {
    #mouse-cursor {display: none;}
    .ncs .inner .list li a:hover:before, .ncs .inner .list li a:hover:after {display: none;}
}

@media screen and (max-width:920px) {
    .menuOpen ul li {font-size: 85px; margin-bottom: 30px;}
    .menuOpen::before {width: 600px; height: 600px;}
    
    .coding .inner .tablet .list li .txt {font-size: 12px;}
    .coding .inner .tablet .list li .tit {font-size: 28px;}

    .contact .inner .star {top: 120px;}
    .contact .txtBox .txt {font-size: 16px;}
}

@media screen and (max-width:768px) {
    .menuOpen ul li {font-size: 75px; margin-bottom: 25px;}
    .menuOpen::before {width: 500px; height: 500px;}

    .coding .inner .tablet {width: 85%;}
    .coding .inner .tablet .list {width: 45%;}
    .coding .inner .tablet .list.first {margin-top: 0;}
    .coding .inner .tablet .list li .tit {font-size: 4vw;}
    .coding .inner .tablet .list li {margin-bottom: 85px;}

    .ncs .inner {padding-top: 200px; width: 85%; margin-bottom: 200px;}
    .ncs .inner .textBox .tit {font-size: 60px;}
    .ncs .inner .textBox .tit span {font-size: 35px;}
    .ncs .inner .textBox .txt {line-height: 1.5; font-size: 15px;}
    .ncs .inner .textBox {margin-bottom: 50px;}
    .ncs .inner .list li a:hover:after{font-size: 12px; width: 70px; height: 30px; line-height: 30px;}

    .contact .txtBox .titBox .tit {margin-top: 30px;}
    .contact .txtBox {padding-right: 30px;}
    .contact .inner .line {top: -6%;}
    .contact .inner .star {width: 50px; top: 155px;}
    .contact .inner .star img {width: 100%;}
}

@media screen and (max-width:600px) {
    .innerHeader .name {font-size: 28px;}

    .menuOpen ul li {font-size: 60px; margin-bottom: 20px;}
    .menuOpen::before {width: 400px; height: 400px;}

    .coding .inner .tablet .list li br {display: block;}
    .coding .inner .tablet .list li span {display: none;}
    .coding .inner {padding-top: 250px;}

    .ncs .inner .textBox .tit {font-size: 55px;}
    .ncs .inner .textBox .tit span {font-size: 25px;}
    .ncs .inner .textBox .txt br {display: none;}

    .contact .info .phone {margin-bottom: 10px;}
    .contact .inner .line {top: 3%;}
}

@media screen and (max-width:480px) {
    .innerHeader .name {font-size: 25px;}
    .innerHeader nav .menu span:nth-of-type(2) {font-size: 40px;}
    .innerHeader {padding: 20px 15px 0;}
    .innerHeader nav .menu {margin-top: -5px;}

    .menuOpen ul li {font-size: 12.5vw; margin-bottom: 10px;}
    .menuOpen::before {display: none;}

    .visual .inner {margin-top: 20px;}

    .coding .inner .tablet .list li {margin-bottom: 60px;}
    .coding .inner {padding-top: 200px;}

    .ncs .inner {margin-bottom: 160px;}
    .ncs .inner .textBox .tit {font-size: 50px;}
    .ncs .inner .list li {margin-bottom: 35px;}
    .ncs .inner .textBox {margin-bottom: 30px;}

    .contact .txtBox .txt {font-size: 14px;}
    .contact .info .mail .img  {width: 25px; margin-top: 2px;}
    .contact .info .phone {margin-bottom: 0px;}
    .contact .info .phone .img  {width: 25px; margin-top: 2px;}
    .contact .info .phone .phoneNumber {font-size: 14px;}
    .contact .info .mail .mailAddress {font-size: 16px;}
    .contact .txtBox .txt {font-size: 14px;}
    .contact .txtBox {margin-bottom: 50px;}
    .contact .txtBox .titBox .tit {margin-top: 50px;}
    .contact .inner .line {top: 8%;}
    .contact .inner {padding-bottom: 20px;}
    .contact .inner .star {width: 45px;}
}

@media screen and (max-width:380px) {
    .ncs .inner .textBox .txt {font-size: 14px;}
    .ncs .inner .textBox .tit {font-size: 45px;}
}